<span>
    <strong>
        {{ isUpdating ? 'Edit Employee' : 'Add New Employee' }}
    </strong>
</span>

<div class='form-group col-md-6'>
    <label for="inputTown">First Name</label>
    <input type='text' class='form-control' id='firsName' [(ngModel)]='emp.firstName'>
</div>

<div class='form-group col-md-6'>
    <label for='surName'>Sur Name</label>
    <input type='text' class='form-control' id='surName' [(ngModel)]='emp.surName'>
</div>

<div class='form-group col-md-6'>
    <label for='email col-md-6'>Email Address</label>
    <input type='email' class='form-control' id='email' [(ngModel)]='emp.email'>
</div>

<div class='form-group col-md-6'>
    <label for="phone">Phone</label>
    <input type="number" class='form-control' id='num' [(ngModel)]='emp.phone'>
</div>
<div class='form-group col-md-6'>
    <label for="inputAddress">Address</label>
    <input type='text' class='form-control' id='address' [(ngModel)]='emp.address'>
</div>

<div class='form-group col-md-6'>
    <label for="inputAddress">Address 2</label>
    <input type='text' class='form-control' id='address' [(ngModel)]='emp.address'>
</div>

<div class='form-group col-md-6'>
    <label for="inputTown col-md-3">Town</label>
    <input type='text' class='form-control' id='town' [(ngModel)]='emp.town'>
</div>
<div class='form-group col-md-6'>
    <label for="inputPostcode">PostCode</label>
    <input type='text' class='form-control' id='postcode' [(ngModel)]='emp.postcode'>
</div>
<div class='form-group col-md-6'>
    <label for="inputDob">DOB</label>
    <input type='text' class='form-control' id='dob' [(ngModel)]='emp.dob'>
</div>
<div>
    <button type="button" (click)="SaveClicked()" class="btn btn-primary" >{{ isUpdating ? 'Update' : 'Save'}}</button>
</div>
<span *ngIf="message">
    {{ message }}
</span>